window
{
    title = Memory
    
    width = 1280 height =  720  // 720p
    //width = 1280 height =  768  // Z10
    //width = 1024 height =  600  // PlayBook
    //width = 2048 height = 1536  // iPad 3
    //width = 1024 height =  768  // iPad 2, iPad Mini
    //width =  720 height =  720  // Q10

    fullscreen = false
}

scripts
{
    initialize = res/main.lua#initialize
    update = res/main.lua#update
    render = res/main.lua#render
    finalize = res/main.lua#finalize
    keyEvent = res/main.lua#keyEvent
    touchEvent = res/main.lua#touchEvent
}
