window
{
    title = Alpha Memory
    
    // 720p
    //width = 1280
    //height = 720
    
    // Z10
    //width = 1280
    //height = 768

    // PlayBook
    width = 1024
    height = 600
    
    // iPad 3
    //width = 2048
    //height = 1536

    // iPad 2, iPad Mini
    //width = 1024
    //height = 768
    
    // Q10
    //width = 720
    //height = 720
    
    fullscreen = false
}

scripts
{
    initialize = res/main.lua#initialize
    update = res/main.lua#update
    render = res/main.lua#render
    finalize = res/main.lua#finalize
    keyEvent = res/main.lua#keyEvent
    touchEvent = res/main.lua#touchEvent
}
